* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

.container{
    align-items: center;
    text-align: center;
    width: 900px;
    margin: 0 auto 0 auto;
    background-color:    rgb(56, 56, 56);
}
.button{
    border-bottom: 2px solid white;
}

